#login-form {
    width: 700px;
    margin: 30px auto;
    display: flex;
    text-align: center;
}

#login-form input[type="text"] {
    width: 80%;
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
    color: #6489a2;
    border-radius: 10px;
    transition: border 0.5s;
}

#login-form input[type="text"]:hover {
    border: 1px solid #6489a2;
}

#login-form input[type="submit"] {
    background: #eee;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #6489a2;
    padding: 5px 15px;
    cursor: pointer;
    transition: border, color 0.5s;
    transition: background 0.5s;
}

#login-form input[type="submit"]:hover {
    background: #ccc;
}