<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thud! Game<</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main">Main</a>
    <a th:if="${logged == false}" href="/login">Sign in</a>
    <a th:if="${logged == true}" href="/main">Create game</a>
    <a th:if="${logged == true}" href="/logout">Log out</a>
    <!--
    <a th:if="${logged == false}" href="/main">Join game</a>
    <a th:if="${logged == true}" href="/main"></a>
    <a href="/rules">Rules</a>
    -->
</div>

<div id="logo" th:fragment="logo">
    <img src="tictactoe_logo.png">
</div>

<div id="common_text" th:fragment="nickname">

</div>

</body>
</html>