<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thud! Game</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent Marker">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/gameplay.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="page">
    <div class="column left" style="background-color:#aaa;">
        <div th:replace="fragments.html :: logo"></div>
        <div th:replace="fragments.html :: menu"></div>
        <div th:replace="fragments.html :: nickname"></div>
    </div>
    <div class="column right" style="background-color:#bbb;">
        <div th:replace="fragments.html :: gameUUID"></div>
        <div class="column left" style="background-color:#aaa;">
            <div th:replace="fragments.html :: nickname"></div>
            <div id="common_text">Create new game</div>
            <div id="menu">
                <button th:attr="onclick='javascript:createGame(\'' + ${player.getNickname()} + '\');'">
                    Create game</button>
            </div>
            <div id="common_text">or join to existing one by passing game ID</div>
            <div id="menu">
                <div>
                    <input id="gameUUID" placeholder="Paste game id">
                </div>
                <div>
                    <button th:attr="onclick='javascript:connectToSpecificGame(\'' + ${player.getNickname()} + '\');'">
                        Connect by game ID</button>
                </div>
            </div>
        </div>
        <div class="column right" style="background-color:#bbb;">
            <div id="box">
                <table id="gameBoard">
                    <tr>
                        <td><button class="tic" id="0_0"></button></td>
                    </tr>
                    <tr>
                        <td><button class="tic" id="0_0"></button></td>
                        <td><button class="tic" id="0_0"></button></td>
                    </tr>
                    <tr>
                        <td><button class="tic" id="0_0"></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sockets.js}"></script>

</body>
</html>