<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thud! Game</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent Marker">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/gameplay.css}">
</head>
<body>

<div class="page">
    <div class="column left" style="background-color:#aaa;">
        <div th:replace="fragments.html :: logo"></div>
        <div th:replace="fragments.html :: menu"></div>
        <div th:replace="fragments.html :: nickname"></div>
    </div>
    <div class="column right" style="background-color:#bbb;">
        <div th:replace="fragments.html :: gameId"></div>
        <div>
            <table id="gameBoard">
                <tr>
                    <td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>